**/bin
**/.idea
**/.vscode
**/obj
C#/Arquivos/Beecrowd1015-distancia_entre_2_pontos/.vs/Beecrowd1015-distancia_entre_2_pontos/v17/.suo
C#/Arquivos/Beecrowd1015-distancia_entre_2_pontos/.vs/Beecrowd1015-distancia_entre_2_pontos/v17/.futdcache.v1
C#/Arquivos/Beecrowd1015-distancia_entre_2_pontos/.vs/Beecrowd1015-distancia_entre_2_pontos/DesignTimeBuild/.dtbcache.v2
